.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/about/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.about-logo img {
  width: 35%;
  min-width: 350px;
  margin-bottom: 40vh;
}

.flying-disk {
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 100px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

.flying-disk img {
  width: 100%;
  min-width: unset;
  margin: 0;
  transition: transform 1s ease;
}

.flying-disk:hover {
  transform: scale(1.1);
}

.flying-disk.spinning img {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#about {
  justify-content: center;
  align-items: center;
  padding-top: calc(env(safe-area-inset-top) + 80px);
  padding-left: 5%;
  padding-right: 5%;
  font-family: Sohne;
}

.head-title {
  font-weight: 400;
  font-size: calc(15px + 2.2vw);
  max-width: 70%;
}

#about-description-container {
  width: 50%;
  margin-left: 0;
  margin-top: 0;
}

.profile-pic-container {
  width: 40%;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.photo-wrapper img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.photo-grid > div:nth-child(n + 5) {
  display: none;
}

@media (max-width: 750px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .pic-padding-top {
    padding-top: 25px;
  }

  #about-description-container {
    width: 90%;
  }

  .profile-pic-container {
    width: 100%;
  }

  .photo-grid > div:nth-child(n + 5) {
    display: block;
  }
}

.subheading-title {
  font-weight: 600;
  font-size: calc(10px + 1vw);
}

.subheading-title-label {
  font-weight: 900;
  font-size: calc(15px + 1.5vw);
  padding-top: 5px;
  color: antiquewhite;
}

.description {
  font-size: calc(10px + 0.7vw);
}

.description b {
  font-weight: 900;
  font-size: calc(20px + 4vw);
  color: antiquewhite;
}