#projects {
  background-size: cover;
  background-position: center center;
}

#project-work {
  font-size: calc(20px + 1vw);
  padding: calc(70px + env(safe-area-inset-top)) 5% 0 5%;
  color: antiquewhite;
}

.projects-container {
  margin: 2% 5%;
  height: calc(fit-content + 50px);
}

.project {
  margin-left: 0;
  display: flex;
  align-items: center;
  font-size: 400%;
  font-weight: 1000;
  width: 100%;
  line-height: 0.8;
}

#dynamic-change {
  width: 50%;
  margin-left: 0;
  margin-top: 2%;
  position: sticky;
  top: calc(50px + 15vh + env(safe-area-inset-top));
}

#projects-title-container {
  width: 40%;
  margin-left: 0;
  margin-top: 0;
}

@media (hover: hover) {
  .projectName:hover {
    opacity: 0.6;
  }
}

.projectName {
  font-size: calc(30px + 3vw);
  display: flex;
  align-items: center;
  padding: 5% 0;
  position: relative;
  overflow: visible;
}

.projectName::after {
  content: attr(data-hover-text);
  position: absolute;
  bottom: 0;
  transform: translateY(-100%);
  font-size: calc(10px + 1vw);
  font-weight: 300;
  color: antiquewhite;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease;
  white-space: nowrap;
  opacity: 0;
}

.projectName:hover::after {
  transform: translateY(0.4vh);
  opacity: 0.8;
}

.projectName::before {
  content: attr(data-hover-text-top);
  position: absolute;
  top: 0;
  transform: translateY(100%);
  font-size: calc(10px + 1vw);
  font-weight: 300;
  color: antiquewhite;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease;
  white-space: nowrap;
  opacity: 0;
}

.projectName:hover::before {
  transform: translateY(-0.4vh);
  opacity: 0.8;
}

@media (max-width: 700px) {
  #dynamic-change {
    width: 90%;
    margin-top: 2%;
    margin-bottom: 1%;
    position: unset;
    top: 0;
  }
  #projects-title-container {
    padding-top: 20px;
    width: 100%;
  }
  .projectName {
    height: 5%;
    min-height: 50px;
    padding: 0;
  }

  .projectName::after,
  .projectName::before {
    display: none;
  }
}
