@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Buch.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-BuchKursiv.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Dreiviertelfett.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-DreiviertelfettKursiv.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Extrafett.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-ExtrafettKursiv.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Extraleicht.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-ExtraleichtKursiv.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Fett.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-FettKursiv.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Buch.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-HalbfettKursiv.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Kräftig.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-KräftigKursiv.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Leicht.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-LeichtKursiv.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

#nav-logo {
  height: 30px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

#nav-logo.light {
  filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(7%)
    hue-rotate(229deg) brightness(94%) contrast(100%);
}

#nav-logo.dark {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7456%)
    hue-rotate(210deg) brightness(112%) contrast(95%);
}

.project-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  background-size: cover;
  height: 100vh;
}

.project-logo img {
  width: 35%;
  min-width: 350px;
}

#link-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15vh;
  width: 100%;
}

#link-info > div {
  padding: 2%;
}

#link-info span {
  font-weight: 600;
  font-size: 15px;
}

.project-link {
  text-decoration: underline;
}

.project-link:hover {
  opacity: 0.6;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid white;
  position: absolute;
  bottom: 5vh;
  animation: moveUpDown 1.5s ease-in-out infinite;
  opacity: calc(0.6);
}

.arrow:hover {
  cursor: pointer;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.appear {
  animation: appear 1.5s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@media (max-height: 450px) {
  #link-info {
    bottom: 0;
  }
  .arrow {
    visibility: hidden;
  }
}

#description-container {
  justify-content: center;
  align-items: center;
  padding-top: calc(env(safe-area-inset-top) + 80px);
  padding-left: 5%;
  padding-right: 5%;
}

#description-container.no-header-padding {
  padding-top: 0;
}

.head-title {
  font-weight: 400;
  font-size: calc(15px + 2.2vw);
  max-width: 70%;
}

.description-div > div {
  width: 40%;
  margin-left: 0;
  margin-top: 0;
}

#deep-description-container {
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

[data-animation] {
  visibility: hidden;
}

@media (max-width: 768px) {
  .full-width-section {
    width: 100%;
  }
}

.fade-in-left {
  animation: fade-in-left 1.5s;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-right {
  animation: fade-in-right 1.5s;
}

@keyframes fade-in-right {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.down-up {
  animation: down-up 3s;
}

@keyframes down-up {
  0% {
    transform: translateY(20vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .description-div > div {
    width: 90%;
  }
}

.subheading-title {
  font-weight: 400;
  padding-top: 4vh;
  font-size: calc(10px + 1vw);
}

.subheading-title-label {
  font-weight: 900;
  font-size: calc(15px + 1.5vw);
}

.description {
  font-size: calc(10px + 0.7vw);
}

.padding-top {
  padding-top: 50px;
}

.photo img {
  width: 100%;
  height: auto;
}

.images-container {
  padding: 5vh 0 3vh 0;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.images img {
  width: 90%;
  max-width: 800px;
  height: auto;
}

.next-project {
  margin-top: 10vh;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;
}

.next-project-label {
  font-family: sohne;
  padding: 20px;
}

.next-project-arrow {
  margin: auto;
  font-size: 50px;
  width: fit-content;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid white;
}
