#creations {
    padding: calc(70px + env(safe-area-inset-top)) 5% 0 5%;
}

.creations {
    font-weight: 1000;
    font-size: calc(30px + 2vw);
    line-height: 33px;
}

.creations-container {
    font-size: calc(15px + 3vw);
    font-weight: 1000;
    padding: 2% 0;
}

.creations-title {
    font-size: calc(15px + 3vw);
    font-weight: 1000;
    padding: 2% 0;
    transition: all 0.3s ease-in-out;
}

.creations-title span {
    font-size: calc(10px + 1vw);
    font-weight: 500;
}

.creations-title:hover {
    opacity: 0.7;
}