.footer {
  height: fit-content;
  padding: 10% 0 10px 0;
  margin: 5% 5% 0 5%;
  border-top: 1px solid #444;
}

#socials {
  margin-bottom: 27px;
  margin-right: 0;
}

#socials a {
  transition: 0.3s ease;
}

@media (hover: hover) {
  #socials a:hover {
    transform: scale(1.08);
  }
}

.social-icon,
#footer-logo {
  height: 40px;
  margin: 0 10px;
}

#footer-logo {
  -ms-user-select: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -o-user-select: initial;
  user-select: initial;
  -webkit-touch-callout: initial;
  -webkit-user-drag: initial;
  pointer-events: initial;
}

.social-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(4deg)
    brightness(102%) contrast(104%);
}

#made-with {
  margin-left: 0;
  margin-bottom: 30px;
  margin-right: 0;
}


#footer-privacy-legal {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#privacy-policy, #legal-notice {
  width: 100%;
  margin-left: 40px;
  margin-right: 0;
}

#privacy-policy {
  margin-bottom: 30px;
}

#legal-notice {
  margin-bottom: 4px;
}

#title {
  transition: 1s ease;
  margin-bottom: 0;
  margin-right: 20px;
  margin-left: 0;
  opacity: 0.8;
  cursor: pointer;
  width: 0;
}

#title img {
  height: 100px;
  margin-bottom: 27px;
}

@media (max-width: 620px) {
  #title {
    transition: 0s;
    width: 0;
    visibility: hidden;
  }

  #made-with {
    width: 0;
    visibility: hidden;
  }

  #legal-notice{
    margin-left: 5px;
  } 
  
  #privacy-policy {
    margin-left: 5px;
  }
}
