@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Buch.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-BuchKursiv.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Dreiviertelfett.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-DreiviertelfettKursiv.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Extrafett.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-ExtrafettKursiv.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Extraleicht.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-ExtraleichtKursiv.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Fett.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-FettKursiv.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Halbfett.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-HalbfettKursiv.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Kräftig.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-KräftigKursiv.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-Leicht.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/assets/fonts/Sohne/Sohne-LeichtKursiv.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #fff;
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "Sohne";
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.non-interactive {
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container div {
  margin: auto;
}

#loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a191a;
}

#loader {
  margin: auto;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  animation: spin 1.5s forwards;
}

@keyframes spin {
  0% {
    transform: scale(0.5) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

#content {
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
}

#content.show {
  opacity: 1;
  visibility: visible;
}
