.project-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  background-size: cover;
  height: 100vh;
}

.project-logo img {
  width: 35%;
  min-width: 350px;
}

#video {
  display: block;
  width: 50%;
  min-width: 400px;
}

#link-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 13vh;
  width: 100%;
}

#link-info > div {
  padding: 2%;
}

#link-info span {
  font-weight: 600;
  font-size: 15px;
}

.project-link {
  text-decoration: underline;
}

.project-link:hover {
  opacity: 0.6;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid white;
  position: absolute;
  bottom: 5vh;
  animation: moveUpDown 1.5s ease-in-out infinite;
  opacity: calc(0.6);
}

.arrow:hover {
  cursor: pointer;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.appear {
  animation: appear 1.5s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@media (max-height: 450px) {
  #link-info {
    bottom: 0;
  }
  .arrow {
    visibility: hidden;
  }
}
